#customization_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0rem 2rem 0rem;
}

#customization_condition_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.customization_condition_input {
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    padding: 1% 2%;
    border-radius: 25px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 height=%2724%27 viewBox=%270 0 24 24%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7 10l5 5 5-5z%27/><path d=%27M0 0h24v24H0z%27 fill=%27none%27/></svg>");
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
    width: 15%;
}

#customization_main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 4% 3%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#customization_laptop_image {
    width: 60%;
}

#customization_laptop_details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 2%;
}

#customization_laptop_specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#customization_button_wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 1rem;
}

#customization_laptop_price {
    background: #7F5283;
    color: white;
    padding: 2%;
    width: 90%;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    #customization_condition_container {
        margin: 1rem 0rem 1rem 0rem;
    }

    .customization_condition_input {
        font-size: 90%;
        width: 15%;
    }
}

@media screen and (max-width: 850px) {
    #customization_condition_container {
        margin: 2rem 0rem 2rem 0rem;
    }

    .customization_condition_input {
        font-size: 70%;
        width: 15%;
        background-position-x: 90%;
        background-position-y: 50%;
    }
}

@media screen and (max-width: 480px) {
    #customization_component{
        margin: 2rem 0rem;
    }

    .customization_condition_input {
        font-size: 30%;
        width: 14%;
        background-position-x: 110%;
        background-position-y: 50%;
        padding: 2% 2%;
    }

    #customization_main_content{
        flex-direction: column;
    }
}