#rental_pc_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0rem 2rem 0rem;
}

#filtering_condition_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.filtering_condition_input {
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    padding: 1% 2%;
    border-radius: 25px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 height=%2724%27 viewBox=%270 0 24 24%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7 10l5 5 5-5z%27/><path d=%27M0 0h24v24H0z%27 fill=%27none%27/></svg>");
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
    width: 15%;
}

/* PC Rental Card */

#rental_pc_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;
    padding: 2% 5%;
}

.rental_pc_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.rental_pc_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc_rental_image {
    width: 50%;
}

.rental_pc_name {
    border-top: 1px solid lightgrey;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
}

.rental_pc_spec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Anuphan', sans-serif;
}

.rental_pc_price {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    padding: 3% 0%;
}

@media screen and (max-width: 1024px) {
    #filtering_condition_container {
        margin: 1rem 0rem 1rem 0rem;
    }

    .filtering_condition_input {
        font-size: 90%;
        width: 15%;
    }

    /* PC Rental Card */
    #rental_pc_container {
        width: 85%;
    }

    .rental_pc_card {
        padding: 10%;
    }

    .pc_rental_image {
        width: 60%;
    }

    .rental_pc_name {
        font-size: 100%;
    }

    .rental_pc_spec {
        font-size: 80%;
    }

    .rental_pc_price {
        font-size: 135%;
        padding: 2% 0%;
    }
}

@media screen and (max-width: 850px) {
    #filtering_condition_container {
        margin: 2rem 0rem 2rem 0rem;
    }

    .filtering_condition_input {
        font-size: 70%;
        width: 15%;
        background-position-x: 90%;
        background-position-y: 50%;
    }

    /* PC Rental Card */
    #rental_pc_container {
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }

    .rental_pc_card {
        padding: 10%;
    }

    .pc_rental_image {
        width: 75%;
    }

    .rental_pc_name {
        font-size: 110%;
    }

    .rental_pc_spec {
        font-size: 90%;
    }

    .rental_pc_price {
        font-size: 140%;
        padding: 1% 0%;
    }
}

@media screen and (max-width: 480px) {
    .filtering_condition_input {
        font-size: 30%;
        width: 14%;
        background-position-x: 110%;
        background-position-y: 50%;
        padding: 2% 2%;
    }

    /* PC Rental Card */
    #rental_pc_container {
        grid-template-columns: 1fr;
        width: 70%;
    }

    .rental_pc_name {
        font-size: 120%;
    }

    .rental_pc_spec {
        font-size: 94%;
    }

    .rental_pc_price {
        font-size: 150%;
        padding: 1% 0% 0% 0%;
    }
}