#rental_pc_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem 1rem 0rem;
}

#filtering_condition_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    width: 100%;
    height: 20vh;
}

.filtering_condition_image {
    cursor: pointer;
}

#laptop_icon{
    width: 9%;
}

#laptop_icon:hover {
    width: 10%;
}

#processor_icon{
    width: 8%;
}

#processor_icon:hover {
    width: 9%;
}

#ram_icon{
    width: 11%;
}

#ram_icon:hover {
    width: 12%;
}

#ssd_icon{
    width: 13%;   
}

#ssd_icon:hover {
    width: 14%;
}

/* PC Rental Card */

#rental_pc_main_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid #eeeeee;
}

#rental_pc_side_filtering_container {
    color: #000000;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
    width: 10%;
    padding: 2% 0% 1% 2%;
}

.rental_pc_side_filtering_button {
    background-color: transparent;
    color: #007185;
    border: 0px;
    font-family: 'Anuphan', sans-serif;
    font-size: larger;
    font-weight: 600;
}

.rental_pc_side_filtering_button:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

#rental_pc_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;
    padding: 2% 5%;
    border-left: 2px solid #eeeeee;
}

.rental_pc_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.rental_pc_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc_rental_image {
    width: 50%;
}

.rental_pc_name {
    border-top: 1px solid lightgrey;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
}

.rental_pc_spec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Anuphan', sans-serif;
}

.rental_pc_price {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    padding: 3% 0%;
}

@media screen and (max-width: 1024px) {
    #filtering_condition_container {
        margin: 1rem 0rem 1rem 0rem;
    }

    #laptop_icon{
        width: 13%;
    }
    
    #laptop_icon:hover {
        width: 14%;
    }
    
    #processor_icon{
        width: 11%;
    }
    
    #processor_icon:hover {
        width: 12%;
    }
    
    #ram_icon{
        width: 14%;
    }
    
    #ram_icon:hover {
        width: 15%;
    }
    
    #ssd_icon{
        width: 18%;   
    }
    
    #ssd_icon:hover {
        width: 19%;
    }

    /* PC Rental Card */
    #rental_pc_main_content {
        gap: 1rem;
    }

    #rental_pc_side_filtering_container {
        gap: .5rem;
        width: 10%;
        padding: 2% 0% 1% 2%;
    }

    .rental_pc_side_filtering_button {
        font-size: smaller;
    }

    #rental_pc_container {
        width: 90%;
    }

    .rental_pc_card {
        padding: 10%;
    }

    .pc_rental_image {
        width: 60%;
    }

    .rental_pc_name {
        font-size: 100%;
    }

    .rental_pc_spec {
        font-size: 57%;
    }

    .rental_pc_price {
        font-size: 135%;
        padding: 2% 0%;
    }
}

@media screen and (max-width: 850px) {
    #filtering_condition_container {
        margin: 2rem 0rem 1rem 0rem;
        height: 10vh;
        gap: 3rem;
    }

    #laptop_icon{
        width: 15%;
    }
    
    #laptop_icon:hover {
        width: 16%;
    }
    
    #processor_icon{
        width: 13%;
    }
    
    #processor_icon:hover {
        width: 14%;
    }
    
    #ram_icon{
        width: 18%;
    }
    
    #ram_icon:hover {
        width: 19%;
    }
    
    #ssd_icon{
        width: 19%;   
    }
    
    #ssd_icon:hover {
        width: 20%;
    }

    /* PC Rental Card */
    #rental_pc_main_content {
        gap: 1rem;
    }

    #rental_pc_side_filtering_container {
        gap: .5rem;
        width: 15%;
        padding: 2% 0% 1% 2%;
    }

    .rental_pc_side_filtering_button {
        font-size: unset;
    }

    #rental_pc_container {
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }

    .rental_pc_card {
        padding: 10%;
    }

    .pc_rental_image {
        width: 75%;
    }

    .rental_pc_name {
        font-size: 110%;
    }

    .rental_pc_spec {
        font-size: 90%;
    }

    .rental_pc_price {
        font-size: 140%;
        padding: 1% 0%;
    }
}

@media screen and (max-width: 480px) {
    #filtering_condition_container {
        margin: 1rem 0rem 0rem 0rem;
        height: 8vh;
        gap: 1rem ;
    }

    #laptop_icon{
        width: 15%;
    }
    
    #laptop_icon:hover {
        width: 16%;
    }
    
    #processor_icon{
        width: 13%;
    }
    
    #processor_icon:hover {
        width: 14%;
    }
    
    #ram_icon{
        width: 20%;
    }
    
    #ram_icon:hover {
        width: 21%;
    }
    
    #ssd_icon{
        width: 22%;   
    }
    
    #ssd_icon:hover {
        width: 23%;
    }

    /* PC Rental Card */
    #rental_pc_main_content {
        gap: 1rem;
    }

    #rental_pc_side_filtering_container {
        gap: .5rem;
        width: 15%;
        padding: 2% 0% 1% 2%;
    }

    .rental_pc_side_filtering_button {
        font-size: smaller;
    }

    #rental_pc_container {
        grid-template-columns: 1fr;
        width: 85%;
        padding: 5%;
    }

    .rental_pc_name {
        font-size: 120%;
    }

    .rental_pc_spec {
        font-size: 94%;
    }

    .rental_pc_price {
        font-size: 150%;
        padding: 1% 0% 0% 0%;
    }
}